<div class="container">
  <h3>Registrar Cliente Empresa</h3>
  <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false" styleClass="steps-custom"></p-steps>   
</div>
<div class="container">
  <p-steps [model]="items" styleClass="steps-custom"></p-steps>
</div>
<div class="row" *ngIf="activeIndex == 0">
  <div class="container" id="idempresa" id="step-1">
  <form (ngSubmit)="guardarDatosEmpresa()">
      <!-- datos empresa -->
      <h3>Datos Empresa</h3>
      <div class="form-group row">
        <label for="ruc" class="col-2 col-form-label">Ruc:</label>
        <div class="col-10">
          <input class="form-control" type="text" value="" [(ngModel)]="empresa.ruc" name="nombre" id="idruc" maxlength="11" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="razon-social" class="col-2 col-form-label">Razon Social</label>
        <div class="col-10">
          <input class="form-control" type="text" value="" [(ngModel)]="empresa.razonsocial" name="razon" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="razon-social" class="col-2 col-form-label">Fecha de Resgistro</label>
        <div class="col-10">
          <p-calendar [(ngModel)]="minDate" name="calendar" [locale]="es"></p-calendar>
        </div>
      </div>
      <div class="form-group row">
        <label for="ubigeo" class="col-2 col-form-label">ID de Ubigeo</label>
        <div class="col-10">
          <input class="form-control" type="number" min ="1" value="" [(ngModel)]="empresa.idubigeo" name="ubigeo" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-tel-input" class="col-2 col-form-label">Regimen</label>
        <div class="col-10">
          <input class="form-control" type="number" value="" min ="1" [(ngModel)]="empresa.idregimen" name="regimen" id="idregimen"required>
        </div>
      </div>
      <div class="form-group btn pull-right">
        <button class="btn btn-success" styleClass="steps-custom">Next</button>
      </div>   
  </form>
  </div>
</div>

<div class="row" *ngIf="activeIndex == 1">
  <div class="container" id="idempresa">
    <h3>Datos Personales</h3>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Nombre:</label>
      <div class="col-10">
        <input class="form-control" type="text" value="" name="nombre" id="nombre-text-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-search-input" class="col-2 col-form-label">Apellidos</label>
      <div class="col-10">
        <input class="form-control" type="text" value="" name="apellidos" id="apellidos">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-email-input" class="col-2 col-form-label">Direccion</label>
      <div class="col-10">
        <input class="form-control" type="text" value="" name="direccion" id="iddireccion">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-tel-input" class="col-2 col-form-label">Telefono</label>
      <div class="col-10">
        <input class="form-control" type="tel" value="" name="telefono" id="telefono">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-tel-input" class="col-2 col-form-label">Email</label>
      <div class="col-10">
        <input class="form-control" type="email" value="" name="email" id="idemail">
      </div>
    </div>
    
    <div class="form-group row row btn pull-right">
      <button class="btn btn-success">Next</button>
    </div>
  </div>
</div>

<!-- datos usuario -->
<div class="row" *ngIf="activeIndex == 2">
  <div class="container" id="idusaurio">
    <h3>Datos de usuario</h3>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Nombre:</label>
      <div class="col-10">
        <input class="form-control" type="text" value="" name="nombre" id="nombre-text-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-search-input" class="col-2 col-form-label">Usuario</label>
      <div class="col-10">
        <input class="form-control" type="search" value="" name="apellidos" id="apellidos">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-password-input" class="col-2 col-form-label">Password</label>
      <div class="col-10">
        <input class="form-control" type="password" value="hunter2" id="password">
      </div>
    </div>
    <div class="form-group row row btn pull-right">
      <button class="btn btn-success">Next</button>
    </div>
  </div>
</div>
<div class="row" *ngIf="activeIndex == 3">
    <div class="container" id="idconfirmar">
      <h3>Comfirmacion</h3>
      <div class="form-group row row btn">
        <button class="btn btn-success">Confirmar</button>
      </div>
    
</div>
</div>
