
<div class="card">
  <div class="card-header">
    <h1 align="center">Mi perfil</h1>
    <p>Añade información personal a tu perfil para que sea compartida</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <label >Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" maxlength="25" [(ngModel)]="persona.nombre" placeholder="Ingrese su nombre" >
      </div>
      <div class="col-md-6">
        <label for="nombre">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido" maxlength="25" [(ngModel)]="persona.apellido" placeholder="Ingrese su apellido" >
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
        <label for="nombre">Correo</label>
        <input type="email" class="form-control" id="correo" maxlength="60" [(ngModel)]="persona.correo" placeholder="Ingrese su Correo">
      </div>
      <div class="col-md-6">
        <label for="nombre">Telefono</label>
        <input type="text" class="form-control" id="telefono" maxlength="20" [(ngModel)]="persona.telefono" placeholder="Ingrese su Telefono">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="nombre">Contraseña</label>
        <input type="password" class="form-control" id="password" maxlength="20" [(ngModel)]="usuario.password" placeholder="Ingrese su contraseña">
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <button type="submit " class="btn btn-sm btn-primary " (click)="guardarUsuario()"><i class="fa fa-dot-circle-o "></i> Guardar Cambios</button>
    <button type="reset " class="btn btn-sm btn-danger "><i class="fa fa-ban "></i> Cancelar</button>
  </div>
</div>
