
<div class="card">
  <div class="card-header">
    <h1 align="center">Mi perfil</h1>
    <p>Añade información personal a tu perfil para que sea compartida</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-5">
        <label >Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" maxlength="25" placeholder="Ingrese su nombre" >
      </div>
      <div class="col-sm-4">
        <label for="nombre">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido" maxlength="25"  placeholder="Ingrese su apellido" >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <label for="nombre">Correo</label>
        <input type="email" class="form-control" id="correo" maxlength="15" placeholder="Ingrese su Correo">
      </div>
      <div class="col-sm-4">
        <label for="nombre">Telefono</label>
        <input type="text" class="form-control" id="telefono" maxlength="20" placeholder="Ingrese su Telefono">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label for="nombre">Contraseña</label>
        <input type="password" class="form-control" id="password" maxlength="20" placeholder="Ingrese su contraseña">
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button type="submit " class="btn btn-sm btn-primary "><i class="fa fa-dot-circle-o "></i> Guardar Cambios</button>
    <button type="reset " class="btn btn-sm btn-danger "><i class="fa fa-ban "></i> Cancelar</button>
  </div>
</div>
