<div id="all">
  <!-- Top bar-->
  <div class="top-bar">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 d-md-block d-none">
          <p>Tel. 949912283 / 933791181. Email: sgeektic@geekticsoluciones.com</p>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-md-end justify-content-between">
            <ul class="list-inline contact-info d-block d-md-none">
              <li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
            <div class="login cursor-pointer"><a (click)="abrirLogin()" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Registrarse</span></a><a href="customer-register.html" class="signup-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Iniciar Sesion</span></a></div>
            <ul class="social-custom list-inline">
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top bar end-->
  <!-- Login Modal-->
  <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modalLabel" aria-hidden="true" class="modal fade">
    <div role="document" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="login-modalLabel" class="modal-title">Customer Login</h4>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input id="email_modal" type="text" placeholder="email" class="form-control">
            </div>
            <div class="form-group">
              <input id="password_modal" type="password" placeholder="password" class="form-control">
            </div>
            <p class="text-center">
              <a class="btn btn-template-outlined" routerLink="/empresa"><i class="fa fa-sign-in"></i> Log in</a>
            </p>
          </form>
          <p class="text-center text-muted">Not registered yet?</p>
          <p class="text-center text-muted"><a href="customer-register.html"><strong>Register now</strong></a>! It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Login modal end-->
  <!-- Navbar Start-->
  <header class="nav-holder make-sticky">
    <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
      <div class="container"><a href="index.html" class="navbar-brand home"><img src="assets/img/logotipo.png" alt="Universal logo" class="d-none d-md-inline-block"><img src="assets/img/logo-small.png" alt="Universal logo" class="d-inline-block d-md-none"><span class="sr-only">Universal - go to homepage</span></a>
        <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
        <div id="navigation" class="navbar-collapse collapse">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown"><a href="javascript: void(0)" class="active" data-toggle="dropdown" [routerLinkActive]="['active']">Inicio</a>
            </li>
            <li class="nav-item dropdown"><a href="#nosotros" data-toggle="dropdown">Nosotros</a>
            </li>
            <li class="nav-item dropdown"><a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle" [routerLinkActive]="['active']">Software <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="#bills" class="nav-link" [routerLinkActive]="['active']">Bill's</a></li>
                <li class="dropdown-item"><a href="#servicios" class="nav-link" [routerLinkActive]="['active']">Servicios</a></li>
                <li class="dropdown-item"><a href="#planes" class="nav-link" [routerLinkActive]="['active']">Planes</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown"><a href="#clientes" data-toggle="dropdown" [routerLinkActive]="['active']">Clientes</a>
            </li>
            <li class="nav-item dropdown"><a href="javascript(0)" (click)="triggerScrollTo('contacto')" data-toggle="dropdown" [routerLinkActive]="['active']">Contacto</a>
            </li>
            <!-- ========== Contact dropdown ==================-->
            <!--<li class="nav-item dropdown"><a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">Contact <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="contact.html" class="nav-link">Contact option 1</a></li>
                <li class="dropdown-item"><a href="contact2.html" class="nav-link">Contact option 2</a></li>
                <li class="dropdown-item"><a href="contact3.html" class="nav-link">Contact option 3</a></li>
              </ul>
            </li>-->
            <!-- ========== Contact dropdown end ==================-->
          </ul>
        </div>
        <div id="search" class="collapse clearfix">
          <form role="search" class="navbar-form">
            <div class="input-group">
              <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button></span>
            </div>
          </form>
        </div>
      </div>

    </div>
  </header>
  <!-- Navbar End-->

  <section style="background: url('assets/img/photogrid.jpg') center center repeat; background-size: cover;" class="bar background-white relative-positioned">
    <div class="container">
      <!-- Carousel Start-->
      <div class="home-carousel">
        <div class="dark-mask mask-primary"></div>

        <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
            <div class="item" >
              <div class="row">
                <div class="col-md-5 text-right">
                  <p><img src="../../../../assets/img/logotipo.png" alt="" width="100px"></p>
                  <h1>Sistema de Facturacion Electronica</h1>
                  <p>crea personaliza controla y <br>gestiona tus facturas electronicas.</p>
                </div>
                <div class="col-md-7"><img [src]="images[0]" alt="Random first slide" class="img-fluid"></div>
              </div>
            </div>
            <!--<div class="carousel-caption">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>-->
          </ng-template>
          <ng-template ngbSlide>
            <div class="item" >
              <div class="row">
                <div class="col-md-7 text-center"><img [src]="images[1]" alt="Random second slide" width="440px"></div>
                <br/>
                <div class="col-md-5">
                  <h1>Factura Electronica</h1>
                  <ul class="list-unstyled">
                    <li>Crea y personaliza</li>
                    <li>El mejor control de facturación online</li>
                    <li>Iterativo y facil acceso al sistema.</li>
                    <li>Gestiona desde cualquier dispositivo.</li>
                  </ul>
                </div>
              </div>
            </div>


            <!--<div class="carousel-caption">
              <h3>Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>-->
          </ng-template>
          <ng-template ngbSlide>
              <div class="item">
                <div class="row">
                <div class="col-md-5 text-right">
                  <h1>Beneficios</h1>
                  <ul class="list-unstyled">
                    <li>Ahorro de costos</li>
                    <li>Orden y rapidez</li>
                    <li>Facilitan la fiscalizacion</li>
                    <li>Eficiencia</li>
                  </ul>
                </div>
                <div class="col-md-7" class="text-center"><img [src]="images[2]" alt="Random third slide" width="490px"></div>
              </div>
            </div>

            <!--<div class="carousel-caption">
              <h3>Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>-->
          </ng-template>
        </ngb-carousel>

      </div>



      <!--<div class="home-carousel">
        <div class="dark-mask mask-primary"></div>
        <div class="container">
          <div class="homepage owl-carousel">
            <div class="item">
              <div class="row">
                <div class="col-md-5 text-right">
                  <p><img src="assets/img/logo.png" alt="" class="ml-auto"></p>
                  <h1>Multipurpose responsive theme</h1>
                  <p>Business. Corporate. Agency.<br>Portfolio. Blog. E-commerce.</p>
                </div>
                <div class="col-md-7"><img src="assets/img/template-homepage.png" alt="" class="img-fluid"></div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-7 text-center"><img src="assets/img/template-mac.png" alt="" class="img-fluid"></div>
                <div class="col-md-5">
                  <h2>46 HTML pages full of features</h2>
                  <ul class="list-unstyled">
                    <li>Sliders and carousels</li>
                    <li>4 Header variations</li>
                    <li>Google maps, Forms, Megamenu, CSS3 Animations and much more</li>
                    <li>+ 11 extra pages showing template features</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-5 text-right">
                  <h1>Design</h1>
                  <ul class="list-unstyled">
                    <li>Clean and elegant design</li>
                    <li>Full width and boxed mode</li>
                    <li>Easily readable Roboto font and awesome icons</li>
                    <li>7 preprepared colour variations</li>
                  </ul>
                </div>
                <div class="col-md-7"><img src="assets/img/template-easy-customize.png" alt="" class="img-fluid"></div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-7"><img src="assets/img/template-easy-code.png" alt="" class="img-fluid"></div>
                <div class="col-md-5">
                  <h1>Easy to customize</h1>
                  <ul class="list-unstyled">
                    <li>7 preprepared colour variations.</li>
                    <li>Easily to change fonts</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <!-- Carousel End-->
    </div>
  </section>
  <section class="bar background-white">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="box-simple">
            <div class="icon-outlined"><i class="fa fa-desktop"></i></div>
            <h3 class="h4">Diseño Web</h3>
            <p>El sistema abarca un buen diseño gráfico web, diseño de interfaz, obteniendo una excelente
              experiencia al usuario como la navegabilidad, interactividad, usabilidad y arquitectura de la
              información.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box-simple">
            <div class="icon-outlined"><i class="fa fa-print"></i></div>
            <h3 class="h4">Impresión</h3>
            <p>Los reportes de cada proceso de interacción del sistema de facturación brinda el servicio de descarga
              e impreción, facilitando al usuario la mejor experiencia.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box-simple">
            <div class="icon-outlined"><i class="fa fa-globe"></i></div>
            <h3 class="h4">Control</h3>
            <p>El sistema brinda el mejor control de facturación, personalizando y la gestión desde
              cualquier dispositivo móvil: celular, tablet y pc.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="box-simple">
            <div class="icon-outlined"><i class="fa fa-lightbulb-o"></i></div>
            <h3 class="h4">Consultas</h3>
            <p>El sistema le brinda al usuario las respuestas necesarias de cualquier consulta que propone
              respecto al sistema de facturación.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box-simple">
            <div class="icon-outlined"><i class="fa fa-envelope-o"></i></div>
            <h3 class="h4">Email</h3>
            <p>La comunicación con el usuario se dará mediante por correo electrónico, brindando una excelente
              servicio del sistema de facturación con el usuario.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box-simple">
            <div class="icon-outlined"><i class="fa fa-user"></i></div>
            <h3 class="h4">Usuarios</h3>
            <p>El sistema brinda al usuario administrador de la empresa permite manejar y gestionar todos
              sus propios usuarios, abarcando la asignación de funciones, seguimiento y el control de sus usuarios.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bar background-pentagon no-mb text-md-center">
    <div class="container">
      <div class="heading text-center">
        <h2>Testimonials</h2>
      </div>
      <p class="lead">We have worked with many clients and we always like to hear they come out from the cooperation happy and satisfied. Have a look what our clients said about us.</p>
      <!-- Carousel Start-->
      <ul class="owl-carousel testimonials list-unstyled equal-height">
        <li class="item">
          <div class="testimonial d-flex flex-wrap">
            <div class="text">
              <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="testimonial-info d-flex">
                <div class="title">
                  <h5>John McIntyre</h5>
                  <p>CEO, TransTech</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/person-1.jpg" class="img-fluid"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="testimonial d-flex flex-wrap">
            <div class="text">
              <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="testimonial-info d-flex">
                <div class="title">
                  <h5>John McIntyre</h5>
                  <p>CEO, TransTech</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/person-2.jpg" class="img-fluid"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="testimonial d-flex flex-wrap">
            <div class="text">
              <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
              <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="testimonial-info d-flex">
                <div class="title">
                  <h5>John McIntyre</h5>
                  <p>CEO, TransTech</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/person-3.png" class="img-fluid"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="testimonial d-flex flex-wrap">
            <div class="text">
              <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="testimonial-info d-flex">
                <div class="title">
                  <h5>John McIntyre</h5>
                  <p>CEO, TransTech</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/person-4.jpg" class="img-fluid"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="testimonial d-flex flex-wrap">
            <div class="text">
              <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="testimonial-info d-flex">
                <div class="title">
                  <h5>John McIntyre</h5>
                  <p>CEO, TransTech</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/person-1.jpg" class="img-fluid"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- Carousel End-->
    </div>
  </section>
  <section style="background: url(assets/img/fixed-background-2.jpg) center top no-repeat; background-size: cover;" class="bar no-mb color-white text-center bg-fixed relative-positioned">
    <div class="dark-mask"></div>
    <div class="container">
      <div class="icon icon-outlined icon-lg"><i class="fa fa-file-code-o"></i></div>
      <h3 class="text-uppercase">Do you want to see more?</h3>
      <p class="lead">We have prepared for you more than 40 different HTML pages, including 5 variations of homepage.</p>
      <p class="text-center"><a href="index2.html" class="btn btn-template-outlined-white btn-lg">See another homepage</a></p>
    </div>
  </section>
  <section class="bg-white bar">
    <div class="container">
      <div class="heading text-center">
        <h2>From the blog</h2>
      </div>
      <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. <a href="blog.html">Check our blog</a></p>
      <div class="row">
        <div class="col-lg-3">
          <div class="home-blog-post">
            <div class="image"><img src="assets/img/portfolio-4.jpg" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
            </div>
            <div class="text">
              <h4><a href="#">Fashion Now </a></h4>
              <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
              <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="home-blog-post">
            <div class="image"><img src="assets/img/portfolio-3.jpg" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
            </div>
            <div class="text">
              <h4><a href="#">What to do</a></h4>
              <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
              <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="home-blog-post">
            <div class="image"><img src="assets/img/portfolio-5.jpg" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
            </div>
            <div class="text">
              <h4><a href="#">5 ways to look awesome</a></h4>
              <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
              <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="home-blog-post">
            <div class="image"><img src="assets/img/portfolio-6.jpg" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
            </div>
            <div class="text">
              <h4><a href="#">Fashion Now </a></h4>
              <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
              <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bar bg-gray">
    <div class="container">
      <div class="heading text-center">
        <h2>Our Clients</h2>
      </div>
      <ul class="list-unstyled owl-carousel customers no-mb">
        <li class="item"><img src="assets/img/customer-1.png" alt="" class="img-fluid"></li>
        <li class="item"><img src="assets/img/customer-2.png" alt="" class="img-fluid"></li>
        <li class="item"><img src="assets/img/customer-3.png" alt="" class="img-fluid"></li>
        <li class="item"><img src="assets/img/customer-4.png" alt="" class="img-fluid"></li>
        <li class="item"><img src="assets/img/customer-5.png" alt="" class="img-fluid"></li>
        <li class="item"><img src="assets/img/customer-6.png" alt="" class="img-fluid"></li>
      </ul>
    </div>
  </section>
  <!-- GET IT-->
  <div class="get-it">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center p-3">
          <h3>Do you want cool website like this one?</h3>
        </div>
        <div class="col-lg-4 text-center p-3">   <a href="#" class="btn btn-template-outlined-white">Buy this template now</a></div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <footer class="main-footer" id="contacto">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h4 class="h6">About Us</h4>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          <hr>
          <h4 class="h6">Join Our Monthly Newsletter</h4>
          <form>
            <div class="input-group">
              <input type="text" class="form-control">
              <div class="input-group-append">
                <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i></button>
              </div>
            </div>
          </form>
          <hr class="d-block d-lg-none">
        </div>
        <div class="col-lg-3">
          <h4 class="h6">Blog</h4>
          <ul class="list-unstyled footer-blog-list">
            <li class="d-flex align-items-center">
              <div class="image"><img src="assets/img/detailsquare.jpg" alt="..." class="img-fluid"></div>
              <div class="text">
                <h5 class="mb-0"> <a href="post.html">Blog post name</a></h5>
              </div>
            </li>
            <li class="d-flex align-items-center">
              <div class="image"><img src="assets/img/detailsquare.jpg" alt="..." class="img-fluid"></div>
              <div class="text">
                <h5 class="mb-0"> <a href="post.html">Blog post name</a></h5>
              </div>
            </li>
            <li class="d-flex align-items-center">
              <div class="image"><img src="assets/img/detailsquare.jpg" alt="..." class="img-fluid"></div>
              <div class="text">
                <h5 class="mb-0"> <a href="post.html">Very very long blog post name</a></h5>
              </div>
            </li>
          </ul>
          <hr class="d-block d-lg-none">
        </div>
        <div class="col-lg-3">
          <h4 class="h6">Contact</h4>
          <p class="text-uppercase"><strong>Universal Ltd.</strong><br>13/25 New Avenue <br>Newtown upon River <br>45Y 73J <br>England <br><strong>Great Britain</strong></p><a href="contact.html" class="btn btn-template-main">Go to contact page</a>
          <hr class="d-block d-lg-none">
        </div>
        <div class="col-lg-3">
          <ul class="list-inline photo-stream">
            <li class="list-inline-item"><a href="#"><img src="assets/img/detailsquare.jpg" alt="..." class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="#"><img src="assets/img/detailsquare2.jpg" alt="..." class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="#"><img src="assets/img/detailsquare3.jpg" alt="..." class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="#"><img src="assets/img/detailsquare3.jpg" alt="..." class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="#"><img src="assets/img/detailsquare2.jpg" alt="..." class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="#"><img src="assets/img/detailsquare.jpg" alt="..." class="img-fluid"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 text-center-md">
            <p>&copy; 2018. Empresa / Geektic Soluciones</p>
          </div>
          <div class="col-lg-8 text-right text-center-md">
            <p>Template design by <a href="https://bootstrapious.com/free-templates">Bootstrapious Templates </a></p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<div>
  <router-outlet></router-outlet>
</div>
