<!-- Breadcrumb-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item">
    <a href="#">Admin</a>
  </li>
  <li class="breadcrumb-item active">Dashboard</li>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group">
      <a class="btn" href="#">
        <i class="fa fa-bookmark"></i>
      </a>
      <a class="btn" href="./">
        <i class="fa fa-area-chart"></i>  Dashboard</a>
      <a class="btn" href="#">
        <i class="fa fa-cogs"></i>  Settings</a>
    </div>
  </li>
</ol>
<div class="card m-3">
  <div class="card-header">
    <strong>Usuario</strong>
  </div>
  <div class="card-body row">
    <div class="col-md-3 pr-0">
      <div class="card-header">
        <strong>Opciones</strong>
      </div>
      <ul class="list-group">
        <li class="list-group-item" routerLinkActive="active current">
          <a class="a-perfil" routerLink="editperfil">Ver Perfil Público</a>
        </li>
        <li class="list-group-item" routerLinkActive="active current">
          <a class="a-perfil" routerLink="foto">Fotografia</a>
        </li>
        <li class="list-group-item" routerLinkActive="active current">
          <a class="a-perfil" routerLink="cuenta">Cuenta</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 pl-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>|