<div class="card">
  <form #usuario="ngForm" (ngSubmit)="actualizarclave()">
    <div class="card-header">
      <strong>Actualizar Clave</strong>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <div class="col-md-12">
          <label>Contraseña Actual</label>
          <input type="password" class="form-control" required="" [required]="isAntiguaPasswordValido" class="form-control form-control-lg"
            name="antiguaPassword" [(ngModel)]="password.antiguaPassword" maxlength="30" (keyup)="verificarPassword()">
        </div>
        <div class="col-md-12 pt-2">
          <label>Contraseña Nueva</label>
          <input type="password" class="form-control" required="" [required]="isAntiguaPasswordValido" name="nuevaPassword" [(ngModel)]="password.nuevaPassword"
            maxlength="30" (keyup)="verificarPassword()">
        </div>
        <div class="col-md-12 pt-2">
          <label>Contraseña Nueva</label>
          <input type="password" class="form-control" required="" [required]="isAntiguaPasswordValido" [ngClass]="{'is-invalid': !isNuevaPasswordValido && isAntiguaPasswordValido}"
            name="confirmarNuevaPassword" [(ngModel)]="password.confirmarNuevaPassword" (keyup)="verificarPassword()" maxlength="30">
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <button type="submit" class="btn btn-primary btn-sm" [disabled]="!usuario.form.valid"> Cambiar Contraseña</button>
    </div>
  </form>
</div>