/* You can add global styles to this file, and also import other style files */
.app-footer {
  padding: 1rem 1rem!important;
  position: absolute;
  bottom: 0;
  width: calc(100% - 200px);
}
input {
  height: 25px!important;
}

.pointer {
  cursor: pointer;

}
.pointer:hover{
  background-color: #00aced;
}

.textcenter{
  background: #825f99!important;
}

.cursor-pointer {
  cursor: pointer;
}
.carousel-indicators{
  bottom: -50px;
}
.carousel-control-prev-icon{
  margin-left: -135px;
}
.carousel-control-next-icon{
  margin-left: 135px;
}
.home-carousel h1, .home-carousel h2{
  margin-top: 15px;
  margin-bottom: 30px;
}

/* Estilos login */
.user-img-login{
  margin-top:-50px;
  text-align: center;
}
ngb-modal-window.modal.fade.show.d-block>div.modal-dialog.modal-sm>div.modal-content{
  margin-top: 100px;
}
.user-img-login img{
	height: 100px;
	width: 100px;
}
.user-name-login{
  margin:10px 0px;
  text-align: center;
}
.user-name-login h2{
  color:#676363;  
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.user-name-login button{
	position: absolute;	
	top:-50px;
	right:20px;
	font-size:20px;
}
/*Fin estilos login*/
