/* You can add global styles to this file, and also import other style files */
.app-footer {
  padding: 1rem 1rem!important;
}
.cursor-pointer {
  cursor: pointer;
}
.carousel-indicators{
  bottom: -50px;
}
.carousel-control-prev-icon{
  margin-left: -135px;
}
.carousel-control-next-icon{
  margin-left: 135px;
}
