<div class="card">
  <div class="card-header">
      Esta imagen se mostrara en tu perfil
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <img class="camera" srcset="assets/6.jpg" alt="Vista Previa ">
        <div class="col-md-12">Luis Jean Carlos Ortiz Pacherres</div>
      </div>

      <div class="col-md-3"></div>
    </div>

    <br/>
    <div class="input-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFileLang" lang="es"> 
        <label class="custom-file-label" for="customFileLang ">Suba una imagen</label>
      </div>
    </div>
    <button type="submit " class="btn btn-sm btn-primary "><i class="fa fa-dot-circle-o "></i> Guardar Cambios</button>
  </div>
</div>